td.recipbg {
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: left top;
}
#preloader {
	display: none;
}
.tblpic {
}
.tblpic td {
	padding-bottom: 0px;
}
/*
.tblpic td a {
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 5px;
}

.tblpic td img {
	border: 0px solid #009933;
}
*/