input { font-weight: normal; }
fieldset { border:1px solid #ffbf97; padding: 10px; }
legend { font-size: 14px; }
textarea { border:1px solid #ffbf97; color: #666666; background: #EFEFEF; font: 12px Arial; padding: 2px; }
/* textarea:hover { border:1px solid #666666; color: #121212; background: #EFEFEF; font: 12px Arial; padding: 2px; } */

/* FORM FIELDS: INPUTS */
.ff, .cp {
    border: 1px solid #ffbf97;
    background:#EFEFEF none repeat scroll 0%;
    font-family:verdana,sans-serif;
    font-size: 90%;
    color: #666666;
    padding: 3px;
    }
.fd {
    border: 1px solid #ffbf97;
    background:#EFEFEF none repeat scroll 0%;
    font-family:verdana,sans-serif;
    font-size: 90%;
    color: #666666;
    padding: 3px;
    text-align: center;
    width: 330px;
    height: 90px;
    }
.ff:hover, .ff:focus, .cp:hover, .cp:focus, .fd:hover, .fd:focus {
    border: 1px solid #666666;
    background:#EFEFEF none repeat scroll 0%; 
    color: #121212;
    }
/* FORM FIELDS: BUTTONS */
.fb {
    background:#EFEFEF none repeat scroll 0%;
    color: #FF6500;
    font-weight: bold;
    border: 1px solid #ffbf97;
    font-family:verdana,sans-serif;
    font-size: 90%;
    padding: 3px;
    }
.fb:hover { border: 1px solid #666666; }    

/* SEARCH BOX FONT, HOVER, FOCUS */
#search #box{
    border: 1px solid #ffbf97;
    background:#fef8e2 none repeat scroll 0%;
    font-family:Arial, verdana,sans-serif;
    color: #666666;
    font-size: 90%;
    padding: 2px;
    width: 97%;
    }
#search #box:hover, #search #box:focus {
    border: 1px solid #666666;
    background:#FFF none repeat scroll 0%;
    color: #121212;
    }
#search #btn {
    background:#EFEFEF none repeat scroll 0%;
    color: #FF6500;
    font-size: 11px;
    font-weight: bold;
    border-color: #ffbf97;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    padding: 0px 3px 1px 3px;
    }
#search #btn:hover { border: 1px solid #666666; }
/* MESSAGE COMPOSE FORM */
#fsel {
    border: 1px solid #ffbf97;
    background:#EFEFEF none repeat scroll 0%;
    color: #666666;
    font-family:verdana,sans-serif;
    font-size: 85%;
    font-weight: normal; 
    width: 200px;
    padding: 1px;
    }
#fsel:hover, #fsel:focus, #lsel:hover, #lsel:focus {
    border: 1px solid #666666;
    background:#EFEFEF none repeat scroll 0%;
    color: #121212;
    }    
/* LANGUAGE SELECT */
#lsel {
    border: 1px solid #ffbf97;
    background:#EFEFEF none repeat scroll 0%;
    color: #666666;
    font-family:verdana,sans-serif;
    font-size: 85%;
    width: 100%;
    padding: 1px;
    }

/* COMMENTS */
.comsubj { font-size: 140%; font-weight: bold; color: #00000A; }
.comments { font-size: 100%; font-weight: bold;}
