div.qlistadding img { display: block; }
div.qlistadding { float: left; position: relative; -moz-user-select: none; }
div.qlistadding .qlisticon {
    position: absolute; cursor: pointer;
    width: 15px; height: 15px;
    margin: 6px; line-height: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); opacity: .9; -moz-opacity: .9;
    background: transparent url(../modules/channels/images/btnqlist_off.gif) no-repeat 0px 0px;
}
div.qlistadding .qlisticon a { text-decoration: none; }
/* quicklist icon positioning */
.topleft .qlisticon { /*   */ }
.topright .qlisticon { right: 0; }
.bottomleft .qlisticon { bottom: 0; }
.bottomright .qlisticon { right: 0; bottom: 0; }
/* end quicklist icon positioning */


div.qlistadding2 img { display: block; }
div.qlistadding2 { float: left; position: relative; -moz-user-select: none; }
div.qlistadding2 .qlisticon2 {
    position: absolute; cursor: pointer;
    width: 15px; height: 15px;
    margin: 6px; line-height: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); opacity: .9; -moz-opacity: .9;
    background: transparent url(../modules/channels/images/btnqlist_off.gif) no-repeat 0px 0px;
}
div.qlistadding2 .qlisticon2 a { text-decoration: none; }
/* quicklist icon positioning */
.topleft .qlisticon2 { /*   */ }
.topright .qlisticon2 { right: 0; }
.bottomleft .qlisticon2 { bottom: 0; }
.bottomright .qlisticon2 { right: 0; bottom: 0; }
/* end quicklist icon positioning */


div.plistadding img { display: block; }
div.plistadding { float: left; position: relative; -moz-user-select: none; }
div.plistadding .plisticon {
    background: black; color: white;
    position: absolute; 
    height: 15px; padding: 1px;
    margin: 1px; line-height: 15px;
}
div.plistadding .plisticon a { text-decoration: none; }
/* quicklist icon positioning */
.topleft .plisticon { /*   */ }
.topright .plisticon { right: 0; }
.bottomleft .plisticon { bottom: 0; }
.bottomright .plisticon { right: 0; bottom: 0; }
/* end quicklist icon positioning */

.pbg { width: 184px; height: 112px; background-image: url(../modules/channels/images/playlistbg.gif); background-repeat: no-repeat; padding: 2px; }
.pbg2 { width: 124px; height: 75px; background-image: url(../modules/channels/images/playlistbg2.gif); background-repeat: no-repeat; padding: 2px; }
.pcount { border-bottom:1px solid #CCCCCC; font-size:14px; font-weight:bold; margin-top:25px; padding-bottom:9px; width: 650px; }
.plong, .plong a { font-size:14px; font-weight:bold; height:16px; overflow:hidden; }
